{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <style>
         b {
             font-weight: bold;
         }
     </style>
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>

        </div>
        <div class="clearfix">

            <div class="colleft">
                {% for company in companies %}
                    <div class="price">
                        <h1>{{ company.name }}</h1>
                        <div class="actual"> 1kWh = {{ company.price }} €</div>
                    </div>
                {% endfor %}
                <div class="price">
                    <h1>Quelques exemples</h1>
                    <div class="actual">
                        <ul>
                            <li>
                                Ampoule normal <br> 60w - 2h/j<br><br>
                            </li>
                            <li>
                                Télévision <br> 150w 4h/j<br><br>
                            </li>
                            <li>
                               Ordinateur fixe <br> 75w 4h/j<br><br>
                            </li>
                            <li>
                                Fer à repasser <br> 800w - 0.75h/j<br><br>
                            </li>
                            <li>
                                Aspirateur <br> 700w - 0.20h/j<br><br>
                            </li>
                            <li>
                                Aquarium <br> 200w - 24h/j<br><br>
                            </li>
                            <li>
                                Chauffage d'appoint <br> 1500w - 0.5h/j<br><br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <h1>Liens utiles</h1>
                    <div class="actual">
                        <ul>
                            <li>
                                <a href="https://www.energuide.be/fr/questions-reponses/combien-les-appareils-electromenagers-consomment-ils/71/">www.energuide.be</a>
                            </li>
                            <li>
                                <a href="http://www.energiedouce.com/content/12-conseils-faq-consommation-electrique-des-appareils-electromenagers">www.energiedouce.com</a>
                            </li>
                            <li>
                                <a href="https://prix-elec.com/cours/consommation">https://prix-elec.com/</a>
                            </li>
                            <li>
                                <a href="https://www.monenergie.net/consommation-moyenne-d-electricite-d-une-maison.php">https://www.monenergie.net</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cdlt">
                <div class="solution">
                    <h1>Mes ampoules</h1>
                    <p>
                    {% if conso == 0 %}
                        Vous ne gagnerez rien à changer vos ampoules car elles sont soit déjà économique soit votre consommation de lumière est singulièrement faible.
                    {% else %}
                        Si vous changez <b>vos ampoules</b> en <b>ampoules basses consommation</b> vous pourriez gagner <b>{{ 30.5*(conso-average)/1000 }}kWh par mois</b> soit une économie de <b>{{ (30.5*(conso-average)/1000)*0.1564 }}€</b> sur votre facture.
                        <br><br>Pour changer une ampoule comptez 4€ en moyenne. <br><br> Il vous faudra donc <b>{{ (((rooms|length)*4)/((30.5*(conso-average)/1000)*0.1564))|round }} mois</b> pour commencer à économiser sur votre facture en changeant toutes vos ampoules.
                    {% endif %}
                    </p>
                </div>
            </div>
            <div class="colright">
            </div>
        </div>
        <div class="footer">
            Vous souhaitez consulter ou modifier des informations ultérieurement? Voici votre nouveau code : {{ name }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('myModal');
        var i=1;
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var addObj = document.getElementById("add_object");
        var myAddBtn = document.getElementById("myAddBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        addObj.onclick = function() {
            i++;
            $("#zone").append(
                    i+'.<input type="text" id="quantity_'+i+'" name="quantities[]" placeholder="Quantité"> <input type="text" id="name_'+i+'" name="names[]" placeholder="Nom" > <input type="text" id="power_'+i+'" name="powers[]" placeholder="Puissance" > <input type="text" id="use_'+i+'" name="uses[]" placeholder="Utilisation par heure" ><br>');
            return null;
        }

        function obj_delete(obj) {

            var form = document.createElement("form");
            var element1 = document.createElement("input");

            form.method = "POST";
            form.action = "/tableaudebord";

            element1.value=obj;
            element1.name="obj";
            form.appendChild(element1);


            document.body.appendChild(form);
            console.log(obj);
            form.submit();

        }
        function room_click(clicked_id) {
            modal.style.display = "block";
            $("#myName").val($("#room_"+clicked_id+" h1").text());
            //var ul = document.getElementById("list_"+clicked_id);
            //var items = ul.getElementsByTagName("li");
            //$("#name_0").val(items[0].innerHTML);
            /*for (var i = 1; i < items.length; ++i) {
                $("#zone").append(i+'.<input type="text" id="quantity_'+i+'" name="quantities[]" placeholder="Quantité"> <input type="text" id="name_'+i+'" name="names[]" placeholder="Nom" value="'+items[i].innerHTML+'" > <input type="text" id="power_'+i+'" name="powers[]" placeholder="Puissance" > <input type="text" id="use_'+i+'" name="uses[]" placeholder="Utilisation par heure" ><br>');
            }*/
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            $("#myName").val("");
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                $("#myName").val("");
            }
        }
    </script>
{% endblock %}