{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="consso_mainPage">
        {% image '@AppBundle/Resources/public/images/mascotte.png' %}
        <img src="{{ asset_url }}" alt="Example" />
        {% endimage %}
    </div>
    <div class="consso_mainPage_text"></div>
    <div class="wrapper">
        <div class="header">
            {% image '@AppBundle/Resources/public/images/background.png' %}
            <img src="{{ asset_url }}" alt="background" />
            {% endimage %}
        </div>
        <div class="content">
            <ul id="menu" class="clearfix">

                <a href="/app_dev.php/maconso"><li id="maConso">

                    <div class="white_up">
                        {% image '@AppBundle/Resources/public/images/gifconso.png' %}
                        <img src="{{ asset_url }}" alt="background" />
                        {% endimage %}
                    </div>
                    <div class="title blue">
                        1. Ma Consommation
                    </div>
                    <div class="white"></div>
                </li></a>

                <a href="/app_dev.php/statistic"><li id="lesRisques">

                    <div class="white_up">
                        {% image '@AppBundle/Resources/public/images/gifrisque.png' %}
                        <img src="{{ asset_url }}" alt="background" />
                        {% endimage %}
                    </div>
                    <div class="title orange">
                        2. Les statistiques
                    </div>
                    <div class="white"></div>
                </li></a>

                <a href="/app_dev.php/les-bons-gestes"><li id="mesActions">

                    <div class="white_up">
                        {% image '@AppBundle/Resources/public/images/gifeco.png' %}
                        <img src="{{ asset_url }}" alt="background" />
                        {% endimage %}
                    </div>
                    <div class="title yellow">
                        3. Les bons gestes
                    </div>
                    <div class="white"></div>
                </li></a>
            </ul>
        </div>
        <div class="footer">
            Vous souhaitez consulter ou modifier des informations ? Saisissez votre code : <input id="code" type="text"> <input type="submit" id="code_submit" value="ok">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script>
        $("#code_submit").on('click', function () {
            var code = $("#code").val();
            alert(code);
            window.location.replace('{{ path('tableau') }}/'+code);
        })
    </script>
{% endblock %}