{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                    {% if client is defined %}<a href="/logout"><li>Se déconnecter</li></a>{% endif %}
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>

        </div>
        <div class="clearfix">

            <div id="objModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <h1>Ajouter un composant </h1>
                        <br><br>
                        {{ form_start(form_obj) }}
                        {% form_theme form_obj 'materialize_layout.html.twig' %}
                        {{ form_widget(form_obj) }}
                        {{ form_end(form_obj) }}
                    <button onclick="addObj()">enregistrer</button>

                </div>

            </div>

            <div id="roomModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <h1>Ajouter une pièce </h1>
                        <br><br>
                        {{ form_start(form_room) }}
                        {% form_theme form_room 'materialize_layout.html.twig' %}
                        {{ form_widget(form_room) }}
                        {{ form_end(form_room) }}
                    <button onclick="addRoom()">enregistrer</button>
                </div>

            </div>

            <div class="colleft">
                <div class="price">
                    <h1>Mon profil</h1>
                     <div class="actual">
                        <ul>
                            <li>code d'accès : {{ client.name }}</li>
                            <li>Votre départment : {{ client.region }}</li>
                            <li>Type de logement : {{ client.logement }}</li>
                            <li>Dernière rénovation : {{ client.age }}</li>
                            <li>Chauffage éléctrique : {{ client.chauffage }}</li>
                            <li>Votre surface : {{ client.surface }}m²</li>
                            <li>Nombre d'habitant : {{ client.foyer }}</li>
                            <li>Nombre de pièces : {{ client.piece }}</li>
                            <li>Ampoules économiques : {{ client.ampoule }}</li>
                            <li>Lave-linge : {{ client.linge }}</li>
                            <li>Seche-linge : {{ client.seche }}</li>
                            <li>Four éléctrique : {{ client.four }}</li>
                            <li>Plaques éléctriques : {{ client.plaque }}</li>
                        </ul>
                     </div>
                </div>
                <div class="price">
                    <a href="/maconso/questionnaire"><h1><br>Modifier mon profil<br><br></h1></a>
                </div>
                {#{% for company in companies %}#}
                    {#<div class="price">#}
                        {#<h1>{{ company.name }}</h1>#}
                        {#<div class="actual"> 1kWh = {{ company.price }} €</div>#}
                    {#</div>#}
                {#{% endfor %}#}
                <div class="price">
                    <h1 style="background: #ababab">Quelques exemples</h1>
                    <div class="actual">
                        <ul>
                            <li>
                                Ampoule normal <br> 60w - 2h/j<br><br>
                            </li>
                            <li>
                                Télévision <br> 150w 4h/j<br><br>
                            </li>
                            <li>
                               Ordinateur fixe <br> 75w 4h/j<br><br>
                            </li>
                            <li>
                                Fer à repasser <br> 800w - 0.75h/j<br><br>
                            </li>
                            <li>
                                Aspirateur <br> 700w - 0.20h/j<br><br>
                            </li>
                            <li>
                                Aquarium <br> 200w - 24h/j<br><br>
                            </li>
                            <li>
                                Chauffage d'appoint <br> 1500w - 0.5h/j<br><br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <h1 style="background: #ababab">Liens utiles</h1>
                    <div class="actual">
                        <ul>
                            <li>
                                <a href="https://www.energuide.be/fr/questions-reponses/combien-les-appareils-electromenagers-consomment-ils/71/">www.energuide.be</a>
                            </li>
                            <li>
                                <a href="http://www.energiedouce.com/content/12-conseils-faq-consommation-electrique-des-appareils-electromenagers">www.energiedouce.com</a>
                            </li>
                            <li>
                                <a href="https://prix-elec.com/cours/consommation">www.prix-elec.com/</a>
                            </li>
                            <li>
                                <a href="https://www.monenergie.net/consommation-moyenne-d-electricite-d-une-maison.php">www.monenergie.net</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cdlt">
                {% set i=0 %}
                {% set total=0 %}
                {% set highttotal=0 %}
                {% for room in rooms %}
                    <div class="col4" id="room_{{ i }}">
                        <h1
                        {% if room.name == 'Cuisine' and room.total<5.9 %}
                            style=" background:#49b844"
                        {% elseif room.name == 'Salle de bain' and room.total<2.5 %}
                            style=" background:#49b844"
                        {% elseif room.name == 'Salon' and room.total<1.50 %}
                            style=" background:#49b844"
                        {% elseif room.name == 'Chambre parentale' and room.total<0.75 %}
                            style=" background:#49b844"
                        {% elseif room.name == 'Chambre enfant' and room.total<0.75 %}
                            style=" background:#49b844"
                        {% endif %}>{{ room.name }}<span style="float: right;"><button style="background: none;border: none;" onclick="popObj({{ room.id }}, {{ i }});"><i class="material-icons">add_box</i></button><button onclick="removeRoom({{ room.id }});" style="background: none;border: none;"><i class="material-icons">remove_circle</i></button></span></h1>
                        <ul id="list_{{ i }}">
                            {% for object in objects[i] %}
                                {% set total = total + (object.power*object.utilisation) %}
                                {% set highttotal = highttotal + (object.power*object.utilisation) %}
                                <li>
                                    <i class="material-icons" onclick="removeObj({{ object.id }})" >delete_forever</i> {{ object.quantity }}x {{ object.name }} <span class="description"> {{ object.power }} Watt - {{ object.utilisation }} heures/jour</span>
                                </li>
                            {% endfor %}
                            {#<li><button class="myAddBtn" id="{{ i }}" onclick="room_click(this.id)">Ajouter</button></li>#}
                        </ul>
                        <div class="clearfix"></div>
                        <div class="total">Total en kwatt/h: {{ total/1000 }}</div>
                    </div>
                    {% set total=0 %}
                    {% set i = i+1 %}
                {% endfor %}
                <div class="col4 red" id="myBtn" onclick="popRoom()">
                    <h1><center>Nouvelle pièce</center></h1>
                    <ul></ul>
                </div>
            </div>

            <div class="colright">
                {#<div class="price">#}
                    {#<h1>Ma consommation mensuelle en kWh</h1>#}
                    {#{% if chauffage == 0 %}#}
                        {#{% set finaltotal = (30.5)*highttotal/1000  %}#}
                    {#{% else %}#}
                        {#{% set finaltotal = ((30.5)*highttotal/1000)+(chauffage*24*30.5/1000)  %}#}
                    {#{% endif %}#}
                    {#{% set finalaverage = (((average/finaltotal)*100)-100)|round(1, 'floor') %}#}
                    {#{% set finalaverage2 = (((finaltotal/average)*100)-100)|round(1, 'floor') %}#}
                    {#<div class="actual">{{ finaltotal|round(1, 'floor') }} kWh{% if finaltotal>=average %}<span class="red_desc">+{{ finalaverage2 }}%</span>{% else %}<span class="green_desc">-{{ finalaverage }}%</span>{% endif %}</div>#}
                {#</div>#}

                <div class="price orange">
                    <h1>Ma consommation mensuelle en €</h1>
                    <div class="actual">{{ consommation }} €{% if consommation>=(average*0.1564) %}<span class="red_desc">+{{ ((consommation/(average*0.1564))*100)|round(1, 'floor')-100 }}%</span>{% else %}<span class="green_desc">-{{ ((average*0.1564)/(consommation)*100)|round(1, 'floor')-100 }}%</span>{% endif %}</div>
                </div>
                {% if chauffage > 0 %}
                <div class="price">
                    <h1>Mon chauffage</h1>
                    <div class="actual clearfix">
                        {{ chauffage/1000 }}kWatth soit {{ ((chauffage/1000)*24*30)*0.1593|round(1, 'floor') }} € par mois
                    </div>
                </div>
                {% endif %}
                <div class="price">
                    <h1>Consomation mensuelle d'un foyer lambda</h1>
                    <div class="actual clearfix">
                        {{ average|round(1, 'floor') }} kWh - {{ (average*0.1564)|round(1, 'floor') }} €
                    </div>
                </div>
                <div class="price">
                    <h1 style="background: #49b844">Comment réduire ma consommation ?</h1>
                    <div class="actual clearfix">
                        Pour avoir des solutions concrètes et personnalisés pour votre ménage.<br><br>
                        <a href="/solution" id="btn_start">COMMENCER</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer">
            Vous souhaitez consulter ou modifier des informations ultérieurement? Voici votre nouveau code : {{ name }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script type="text/javascript">
        // Get the modal
        var modal_obj = document.getElementById('objModal');
        var modal_room = document.getElementById('roomModal');
        var i=1;
        var obj=0;
        var room=0;
        var myAddBtn = document.getElementById("myAddBtn");
        var span = document.getElementsByClassName("close")[0];


        function popObj(objt, roomt) {
            modal_obj.style.display = "block";
            obj = objt;
            room = roomt;
        }

        function popRoom() {
            modal_room.style.display = "block";
        }

        function addObj() {
            var name = $("#add_obj_name").val();
            var quantity = $("#add_obj_quantity").val();
            var utilisation = $("#add_obj_utilisation").val();
            var power = $("#add_obj_power").val();
            $.ajax({
                url:"{{ path('add_object') }}",
                method: "post",
                data: {type : 'obj', id : obj, name : name, quantity: quantity, utilisation: utilisation,power: power}
            }).done(function (msg) {
                refreshList();
            })
        }

        function addRoom() {
            var name = $("#add_room_name").val();
            $.ajax({
                url:"{{ path('add_object') }}",
                method: "post",
                data: {type : 'room', name : name}
            }).done(function (msg) {
                refreshList();
            })
        }

        function removeRoom(room) {
            $.ajax({
                url:"{{ path('add_object') }}",
                method: "post",
                data: {type : 'delete', room : room}
            }).done(function (msg) {
                refreshList();
            })
        }

        function refreshList(){
            location.reload();
        }

        function removeObj(obj) {

            var form = document.createElement("form");
            var element1 = document.createElement("input");

            form.method = "POST";
            form.action = "/configuration";

            element1.value=obj;
            element1.name="obj";
            form.appendChild(element1);


            document.body.appendChild(form);
            console.log(obj);
            form.submit();

        }


        span.onclick = function() {
            modal_room.style.display = "none";
            modal_obj.style.display = "none";
            $("#myName").val("");
        };


        window.onclick = function(event) {
            if (event.target == modal_room || event.target == modal_obj) {
                modal_room.style.display = "none";
                modal_obj.style.display = "none";
            }
        }
    </script>
{% endblock %}