{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                {% if client is defined %}<a href="/logout"><li>Se déconnecter</li></a>{% endif %}
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>
        </div>

    Nombre total du client: {{ client_number }} <br/>
    <table>
	  <tr>
	    <td></td>
		<td>Appartement</td>
		<td>Maison</td>
	  </tr>
	  <tr>
	    <td>Nombre du clients</td>
		<td>{{ client_appartement_number }}</td>
		<td>{{ client_maison_number }}</td>
	  </tr>
	  <tr>
	    <td>Surface moyenne</td>
		<td>{{ surface_appartement }}</td>
		<td>{{ surface_maison }}</td>
	  </tr>
	</table>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}