{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>
        </div>

    Nombre total du client: {{ client_number }} <br/>
    <table>
	  <tr>
	    <td></td>
		<td>Appartement</td>
		<td>Maison</td>
	  </tr>
	  <tr>
	    <td>Nombre du clients</td>
		<td>{{ client_appartement_number }}</td>
		<td>{{ client_maison_number }}</td>
	  </tr>
	  <tr>
	    <td>Surface moyenne</td>
		<td>{{ surface_appartement }}</td>
		<td>{{ surface_maison }}</td>
	  </tr>
	</table>
	<!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <div id="chart_div1"></div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawClientTypeChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawClientTypeChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Appartement', {{ client_appartement_number }}],
          ['Maison', {{ client_maison_number }}]
        ]);

        // Set chart options
        var options = {'title':'Nombre du clients',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        var chart1 = new google.visualization.PieChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
        chart1.draw(data, options);
      }
    </script>
{% endblock %}