{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header clearfix">
            <div class="left"><a href="/"><div id="logo">CONSSO.FR</div></a></div>
            <div class="right">
                <ul id="navigation" class="clearfix">
                    <a href=""><li>A propos</li></a>
                    <a href=""><li>Références</li></a>
                    <a href=""><li>Objectifs</li></a>
                    <a href=""><li>Contact</li></a>
                </ul>
            </div>
        </div>

        <div class="content clearfix">
            <div class="block clearfix">
                <div class="l2-block tool">
                    <div id="show" class="in-block left">
                        <h1>Mon bien</h1>
                        <div class="slider">
                            <p id="p1">{{ client.surface }} m²</p>
                            <p id="p2">{{ client.piece }} pièces</p>
                        </div>
                    </div>
                    <a href="{{ path('configuration') }}" ><div id="mask_tool"  class="in-block left">
                        <p><h1> > Modifier</h1></p>
                        </div></a>
                </div>
                <div class="l6-block advice">
                    <div class="in-block right">
                        <h1>Nos conseils</h1>
                        <p>
                            <ul>
                            {% for advice in advices %}
                                <li>
                                   {{ advice }}
                                </li>
                            {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="block clearfix">
                <div class="l2-block consommation">
                    <div class="in-block left">
                        <h1>Ma Conso.</h1>
                        <p class="conso-price">{{ consommation }}€</p>
                    </div>
                </div>
                <div class="l6-block company">
                    <div class="in-block right">
                        <h1>Les fournisseurs</h1>
                        <div id="chart_div"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            Vous souhaitez consulter ou modifier des informations ultérieurement? Voici votre nouveau code : {{ client.name }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts'@AppBundle/Resources/public/js/*' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(".tool").hover(function () {
            $("#mask_tool").toggle('slide','left',400);
            //$("#show").toggle();
        })
    </script>
{% endblock %}